<%- include partials/header.ejs %>
<%- include partials/mainnav.ejs %>

<div id="content">
  <h2><%- title %></h2><br>
  <img src="/assets/images/picture.jpg" class="picture"/>
  <h4>Hello! My name is Jan.</h4>
  <p>I'm an international student currently in my Third Semester 
    of Software Engineering Technology in Centennial College. 
    I've studied a bit of Computer Engineering in the past, and 
    now I'm interested in the software side of computers, especially
    programming.
    My hobbies include playing video games, watching movies, and
    reading. I also occasionally code for practice and fun, mostly 
    basic HTML/CSS/JS webpages. </p><br>
  <p>Click <a href="./assets/files/resume_escareses.pdf">here</a> for a copy of my resume.</p>
</div>

<%- include partials/footer.ejs %>