<%- include partials/header.ejs %>
<%- include partials/mainnav.ejs %>

    <div id="content">
        <h2><%- title%></h2>
        <p>Here are some things I am working on/have worked on in the past:</p>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <figure>
                    <img src="/assets/images/js-clicker-game.jpg"/>
                    <figcaption><a href="http://studentweb.cencol.ca/jescares/Assignment5/Assignment5_Escareses.html">JS Clicker Game</a></figcaption>
                </figure>
              </div>
              <div class="col-sm">
                <figure>
                    <img src="/assets/images/car-website.jpg"/>
                    <figcaption><a href="http://studentweb.cencol.ca/jescares/Assignment3.html">Car Website</a></figcaption>
                </figure>
              </div>
              <div class="col-sm">
                <figure>
                    <img src="/assets/images/real-estate-website.jpg"/>
                    <figcaption><a href="http://studentweb.cencol.ca/jescares/TermProject/index.html">Real Estate Agent Website</a></figcaption>
                </figure>
              </div>
            </div>
        </div>
        <p>And many more projects coming soon!</p>
    </div>

<%- include partials/footer.ejs %>
