<%- include partials/header.ejs %>
<%- include partials/mainnav.ejs %>

    <div id="content">
        <h2><%- title%></h2>
        <p>Here are some things I am working on/have worked on in the past:</p>
        <ul>
            <li>A wellness check/tracker software project proposal</li>
            <li>A javascript clicker game which you can play <a href="http://studentweb.cencol.ca/jescares/Assignment5/Assignment5_Escareses.html">here</a></li>
            <li>A small webpage about a car which you can find <a href="http://studentweb.cencol.ca/jescares/Assignment3.html">here</a></li>
            <li>A dummy real estate agent website which you can find <a href="http://studentweb.cencol.ca/jescares/TermProject/index.html">here</a></li>
        </ul>
    </div>

<%- include partials/footer.ejs %>
