<%- include partials/header.ejs %>
<%- include partials/mainnav.ejs %>

    <div id="content">
        <h2><%= title%></h2>
        <h4>Here are some of the services I offer:</h4>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <figure>
                    <img src="/assets/images/pc-building.jpg"/>
                    <figcaption>PC Building</figcaption>
                </figure>
              </div>
              <div class="col-sm">
                <figure>
                    <img src="/assets/images/pc-troubleshooting.jpg"/>
                    <figcaption>PC Hardware Troubleshooting</figcaption>
                </figure>
              </div>
              <div class="col-sm">
                <figure>
                    <img src="/assets/images/basic-coding.jpg"/>
                    <figcaption>Basic Programming</figcaption>
                </figure>
              </div>
            </div>
        </div>
        <p>click <a href="/contact-us">here</a> for inquiries.</p>
    </div>

<%- include partials/footer.ejs %>