<%- include partials/header.ejs %>
<%- include partials/mainnav.ejs %>

    <div id="content">
        <h2>Welcome to my E-Portfolio!</h2>
        <p>My name is Jan Escareses. 
            I am a Software Engineering Technology Student in my Third Semester in Centennial College.
        <p>click <a href="./about">here</a> to view my "About Me" page!</p><br>
        <h4>Mission Statement:</h4>
        <p>I'm here to showcase my passion for software and hopefully inspire people to be more interested in the field of technology.</p>
        <br>
        <h4>Feel free to click the tabs at the top!</h4>
    </div>
<%- include partials/footer.ejs %>