<footer>
    <nav class="navbar fixed-bottom navbar-dark" style="background-color: #3a62f2;">
      <div class="container-fluid">
        <h6 class="display-8 navbar-text">&copy;2022, All Rights Reserved - Jan Escareses</h6>
      </div>
    </nav>
</footer>
  <!--SCRIPT SECTION-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html> 